body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: scroll;               /*     This code enables     */
  overflow-y: hidden;               /* horizontal scrolling only */
  background: rgb(24, 70, 27);
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 3787px;                    /* width of the images */
  max-height: 100%;
}

/* Brightness of the images (for better parallax effect) */
#parallax2 {
  filter: brightness(80%);
}

#parallax3 {
  filter: brightness(85%);
}

#parallax4 {
  filter: brightness(90%);
}

#parallax5 {
  filter: brightness(95%);
}

#parallax6 {
  filter: brightness(100%);
}